version: '2'
services:
    mongo:
        build: images/mongo
        container_name: "mongo"
        environment:
          - MONGO_DATA_DIR=/data/db
          - MONGO_LOG_DIR=/dev/null
        ports:
            - 27017:27017
    server:
        build: images/tasks 
        links:
        - mongo:mongo
        container_name: amt_tasks_server_api
        environment:
        - SPRING_DATA_MONGODB_HOST=mongo
        - SPRING_DATA_MONGODB_PORT=27017
        expose:
            - 8080
        ports:
            - 8080:8080

    panel:
        build: ./Code/AdminPanel
        container_name: admin_panel
        expose:
            - 3000
        ports:
            - 3000:3000
