.content {

	margin-top: 100px;


	.content-header {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 30px;
		.content-title {
			font-size: 30px;
		}
	}

	.list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.exec {
			background-color: #fff;
			border-radius: 10px;
			padding: 30px;
			margin: 20px;
			box-shadow: 0 1px 2px rgba(0,0,0,0.1);
			width: 450px;

			.status {
				font-size: 24px;
				margin-bottom: 10px;
				display: flex;
				align-items: center;
				margin-bottom: 50px;

				.number {
					margin-left: 10px;
				}

				.date {
					font-size: 18px;
					margin-left: 85px;
				}
			}
		}

		.step {
			display: inline-block;
			font-size: 18px;
			vertical-align: top;
			.desc {
				font-weight: bold;
				display: inline-block;
			}

			.date {
				margin-bottom: 5px;
				display: inline-block;
			}
		}
	}
}



.bold {
	font-weight: bold;
	font-size: 18px;
}